<div class="card">
      <div class="card-body">
            <h1>{{posts.title}}</h1>
            <hr>
            <small>Publication date: {{posts.date}}</small><br>
            <hr>
            {{posts.content}}
      </div>
</div>